input[type=range] {
  -webkit-appearance: none;
  width: 10vw;
  margin: 3.85px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 17.3px;
  cursor: pointer;
  box-shadow: 3.2px 3.2px 4.7px rgba(0, 0, 0, 0.8), 0px 0px 3.2px rgba(13, 13, 13, 0.8);
  background: #bcb2b3;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 4.5px solid #941e00;
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: rgba(255, 32, 32, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c8c0c0;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 17.3px;
  cursor: pointer;
  box-shadow: 3.2px 3.2px 4.7px rgba(0, 0, 0, 0.8), 0px 0px 3.2px rgba(13, 13, 13, 0.8);
  background: #bcb2b3;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 4.5px solid #941e00;
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: rgba(255, 32, 32, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 17.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #b0a4a6;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 3.2px 3.2px 4.7px rgba(0, 0, 0, 0.8), 0px 0px 3.2px rgba(13, 13, 13, 0.8);
}
input[type=range]::-ms-fill-upper {
  background: #bcb2b3;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 3.2px 3.2px 4.7px rgba(0, 0, 0, 0.8), 0px 0px 3.2px rgba(13, 13, 13, 0.8);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.49), 0px 0px 0px rgba(255, 26, 26, 0.49);
  border: 4.5px solid #941e00;
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: rgba(255, 32, 32, 0.93);
  cursor: pointer;
  height: 17.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #bcb2b3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c8c0c0;
}
