body {
    width: 100%;
    text-align: center;
    background-color: rgb(25, 27, 34);
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}


canvas {
    border: 1px solid grey;
}


#displays {
    text-align: left;
}

canvas#render {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#minimap {
    position: absolute;
    left: 2%;
    top: 2%;
}

#version {
    position: absolute;
    right: 10px;
    bottom: 10px;

    font-family: doom;
}


@font-face {
    font-family: "pixi";
    src: url("../res/font/Grooving.ttf") format('truetype');
}


@font-face {
    font-family: "doom";
    src: url("../res/font/DooM.woff");
}
