span.ui {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    background-size: auto;

    font-family: doom;
    font-size: 5vh;
}


#askInput {
    text-align: center;
    padding-top: 50vh;
}

#imgMelt {
    
}




.ui, #askInput {
    background-image: url('../res/textures/UI/PauseBackground.png');
    background-size: 25%;

    font-size: 5vh;
}

.ui #title {
    font-size: 12vh;
}

.ui #subtitle {
    font-size: 8vh;
}

.ui ul {
    padding: 0;
    list-style: none;

    font-size: 5vh;
}





.ui ul#menu li{
    padding: 1vh 0;
    margin: auto;
    width: 50%;
}

.uiButton {
    cursor: pointer;
    margin: auto;
    width: 20vw;
}

.uiButton:hover {
    -webkit-text-stroke: 2px rgb(50, 10, 10);
    color: rgb(19, 19, 19);
}
